* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1F2937;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
}

.container {
    width: 520px;
    min-height: 20vh;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    position: relative;
}

.header {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    gap: 20px;
    position: relative;
}

.btnDiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.passwordDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    position: relative;
}

h1 {
    font-weight: 800;
    color: white;
    letter-spacing: -0.025em;
}

h2 {
    letter-spacing: -0.025em;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

button {
    background: rgb(56, 225, 169);
    color: white;
    font-weight: bold;
    font-size: 13px;
    width: 250px;
    height: 54px;
    border-radius: 6px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

button:hover {
    cursor: pointer;
    background-color:#10b980;
    border: solid 1px #10b980;
    transition: 1s;
    letter-spacing: 0.08em;
}

.passwords-el {
    color: rgb(56, 225, 169);
    letter-spacing: -0.025em;
    background-color: rgb(71, 81, 95);
    font-size: 15px;
    padding-bottom: 15px;
    border-radius: 4px;
    font-family: 'Inter';
    font-weight: 400;
    text-align: center;
    cursor: default;
}

.passwords-el:hover {
    color: white;
    text-align: center;
    letter-spacing: 0.08em;
    transition: 1s;
    cursor: pointer;
}

#error-p {
    color:rgba(255, 0, 0, 0.940);
    margin: auto;  
}

input {
    color: white;
    height: 54px;
    width: 250px;
    background-color: rgb(71, 81, 95);
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-radius: 6px;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 800;
    text-align: center;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -moz-appearance: none;
    margin: 0;
}